/* RESET */

*{
    box-sizing: border-box;
    margin: 0;
}

/* COMMON */

.container{
    max-width: 1400px;
    margin:auto;
    display: flex;
}
.row{
    justify-content: space-between;
}
ul{
    padding-left: 0;
}
/* TIPOGRAFY */

body{
    font-family: 'Roboto', sans-serif;
}
h4{
    font-size: 20px;
}
h5{
    font-size: 15px;
}
header{
    color: white;
}
.articolo{
    text-decoration: none;
    color: inherit;
    font-weight: bold;
}
/* HEADER */

header .container{
    align-items: center;
    justify-content: space-between;
}
header{
   background-color: #FF6900;
   padding: 20px;
   position: fixed;
   left: 0;
   right: 0;
   top: 0;
   z-index: 999;
}
.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
.main-nav ul li {
    margin: 0 10px;
}
li a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
.logo{
    height: 30px;
    padding-right: 100px ;
}
.logo img{
    height: 100%;
}
div i{
    padding: 0 5px;
}

/* MAIN */

main .row{
    justify-content: space-between;
    flex-wrap: wrap;
}
.col{
    width: calc(100%/3 - 20px);
    margin: 100px 10px 10px 10px;
}
.default-img{
    width: 100%;
    height
    display: block;
}
.hover-img{
    display: none;
}
.image:hover .hover-img{
    display: block;
    width: 100%;
}
.image:hover .default-img{
    display: none;
}
.price{
    color: red;
}
.fake-price{
    text-decoration: line-through;
}
.image{
    position: relative;
}
.sconto,.sostenibile,.heart{
    position: absolute;
}
.sconto,.sostenibile{
    color: white;
    bottom: 50px;
    padding: 5px 10px;
}
.heart{
    background-color: white;
    padding: 10px;
    top: 10px;
    right: 0;
    border: none;
}
.heart:hover .fa-heart{
    color: red;
}
.heart:hover{
    cursor: pointer;
}
.sconto{
    background-color: red;
}
.sostenibile{
    background-color: green;
    left: 55px;
}

/* FOOTER */

footer {
    background-color: black;
    color: white;
    margin-top: 50px;
}
 ul {
    list-style: none;
    display: flex;
    justify-content: center;
}
 ul li {
    margin: 0 5px 0 0;
}
li a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}
.info-azienda,.social{
    padding:30px 0 30px 10px;
}
.info-azienda h4{
    padding: 0px 0 15px;
}
.social h5 {
    padding: 0 0 15px 10px;
}